.container {
  color: white;
  height: calc(100vh - 56px);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10%;
  .banner {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: left;
    h1 {
      font-size: 48px;
    }
    .desc {
      margin: 50px 0;
    }
  }
  .tryBt {
    display: inline-block;
    margin-left: 80px;
  }

  .circleContainer {
    width: 230px;
    height: 230px;
    perspective: 200px;

    cursor: grab;
    .circle {
      background: #f0efef;

      border-radius: 30px;
      width: 100%;

      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 80%;
        height: 80%;
      }
    }
  }
}

$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {
  .container {
    flex-direction: column;
    padding: 20px;
  }
}
