.menu {
  font-size: 18px;
  display: flex;
  .item {
    padding: 5px 10px;
    transition: 0.4s;
    user-select: none;
    display: inline-block;
    margin-right: 100px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      color: grey;
    }
  }
  .userItem {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
