$color-bg: #212121;
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  background: $color-bg;
  color: white;
  padding: 0 40px;
  width: 100%;
  padding-left: 100px;
}

.menu {
  font-size: 18px;
  display: flex;
  .item {
    padding: 5px 10px;
    transition: 0.4s;
    user-select: none;
    display: inline-block;
    margin-right: 100px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      color: grey;
    }
  }
  .userItem {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {
  .headerContainer {
    padding-left: 20px;
  }
  .menu {
    .item {
      margin-right: 0;
    }
  }
}
